section.new-section
	h1.section-title LATEST 
		span.section-title-resalt VIDEOS
	.container-article-video
		+cardVideo('grid5.jpg', 'There are many variations that focuses on presenting', 'This a video')
		+cardVideo('grid4.jpg', 'There are many variations that focuses on presenting', 'This a video')