section.new-section
	h1.section-title POPULAR  
		span.section-title-resalt POST
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 01
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 02
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 03
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 04
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 05
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 06
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting
	.container-grid-categories.post
		.grid-categories
			.grid-categories__figure
				h6.grid-categories__num 07
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 There Are Many Variations That Focuses On Presenting