section
	h1.section-title RECENT 
		span.section-title-resalt COMMENTS
	.autor
		.autor__figure
			a(href="#").autor__img
				img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.autor__info
			h4.autor__name 
				a(href="#") Jhon Cartert
			p.autor__text Vivamus a ligula quam. Ut blandit eu leo non suscipit.
	.autor
		.autor__figure
			a(href="#").autor__img
				img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.autor__info
			h4.autor__name 
				a(href="#") Jhon Cartert
			p.autor__text Vivamus a ligula quam. Ut blandit eu leo non suscipit.
	.autor
		.autor__figure
			a(href="#").autor__img
				img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.autor__info
			h4.autor__name 
				a(href="#") Jhon Cartert
			p.autor__text Vivamus a ligula quam. Ut blandit eu leo non suscipit.
	.autor
		.autor__figure
			a(href="#").autor__img
				img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.autor__info
			h4.autor__name 
				a(href="#") Jhon Cartert
			p.autor__text Vivamus a ligula quam. Ut blandit eu leo non suscipit.


	.published
		a(href="#")
			img(src="img/add1.jpg")