section
	h1.section-title TOP 
		span.section-title-resalt CATEGORIES
	.container-grid-categories
		.grid-categories
			.grid-categories__figure
				img(src="img/m11.jpg").grid-categories__img
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 Fashion
		.grid-categories
			.grid-categories__figure
				img(src="img/m11.jpg").grid-categories__img
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 Fashion
		.grid-categories
			.grid-categories__figure
				img(src="img/m11.jpg").grid-categories__img
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 Fashion
		.grid-categories
			.grid-categories__figure
				img(src="img/m11.jpg").grid-categories__img
			.grid-categories__info
				a(href="#").grid-categories__link
					h4 Fashion

		

	.published
		a(href="#")
			img(src="img/add.jpg")

