section.new-section
	h1.section-title TOP 
		span.section-title-resalt CATEGORIES
	.container-grid-categories
		+cardGrid('m11.jpg', 'Fashion')
		+cardGrid('m10.jpg', 'Culture')
		+cardGrid('m12.jpg', 'LifeStyle')
		+cardGrid('m9.jpg', 'Food')
		+cardGrid('m13.jpg', 'Busines')

		

	.published
		a(href="#")
			img(src="img/add.jpg")
