section.new-section
		h1.section-title From 
			span.section-title-resalt Beauty
		.from-beauty

			//- Bucle Here
			+cardArticle('grid6.jpg', 'Woman Near','Pigeons','2020-06-05','Jan 20 2020','There are many variations that focuses on presenting','JOHN BRAIN', '2020-06-16', 'Jan 16, 2020')
				+set('contentBody')
					a(href="#").card__read-more Read More
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img

			+cardArticle('grid7.jpg', 'Woman Near','Pigeons','2020-06-05','Jan 20 2020','There are many variations that focuses on presenting','JOHN BRAIN', '2020-06-16', 'Jan 16, 2020')
				+set('contentBody')
					a(href="#").card__read-more Read More
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img

			+cardArticle('grid8.jpg', 'Woman Near','Pigeons','2020-06-05','Jan 20 2020','There are many variations that focuses on presenting','JOHN BRAIN', '2020-06-16', 'Jan 16, 2020')
				+set('contentBody')
					a(href="#").card__read-more Read More
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img