main.col-lg-8
	include latest-articles
	include great-lifestyle
	include from-beauty
	include tech-and-gadgets
	include top-categories
	include trendy-fashion
	include tasty-food
	include stay-conected
	include be-health