.great-lifestyle__conatiner-card-row
	+cardArticleRow('mini','m1.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')
		+set('contentBody')
			null
	+cardArticleRow('mini','m2.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

	+cardArticleRow('mini','m3.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

	+cardArticleRow('mini','m4.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

.great-lifestyle__conatiner-card-row
	+cardArticleRow('mini','m12.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

	+cardArticleRow('mini','m9.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

	+cardArticleRow('mini','m10.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

	+cardArticleRow('mini','m11.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')