.col-md-6
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020

.col-md-6
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020
	article.card.card-row
		header.card__header
			img(src="img/m1.jpg" alt="There Are Many Variations That Focuses On Presenting").card-row__img--mini
		.content
			.card__body
				h1.card-row__title--mini
					a(href="#").card__link There Are Many Variations That Focuses On Presenting
			foorter
				timer.article__date BY JOHN BRAIN Jan 5, 2020