section
		h1.section-title TOP 
			span.section-title-resalt CATEGORIES
		.categories
			.card.col-6.col-md-4
				.card__header
					figure
						img(src="img/grid20.jpg", alt="In Black Jacket And Brown Hat Standing On Rock ").card__img
						figcaption.card__figcation
							.content
								h4.card__title--ocult 
									span.card__figcation-title-resalt FOOD
			.card.col-6.col-md-4
				.card__header
					figure
						img(src="img/grid20.jpg", alt="In Black Jacket And Brown Hat Standing On Rock ").card__img
						figcaption.card__figcation
							.content
								h4.card__title--ocult 
									span.card__figcation-title-resalt FOOD
			.card.col-6.col-md-4
				.card__header
					figure
						img(src="img/grid20.jpg", alt="In Black Jacket And Brown Hat Standing On Rock ").card__img
						figcaption.card__figcation
							.content
								h4.card__title--ocult 
									span.card__figcation-title-resalt FOOD