section
	
		h1.section-title TRENDY 
			span.section-title-resalt FASHION
		article.card.article.d-flex-md
				header.card__header
					figure
						img(src="img/grid4.jpg", alt="Sittin People Beside Table Inside Room").card__img
						figcaption.card__figcation
							.content
								h4.card__figcation-title Sittin People Beside Table Inside 
									span.card__figcation-title-resalt Room
								timer.card__date Jan.20.2020
				.content
					.card__body
						h1.card__title
							a(href="#").card__link There are many variations that focuses on presenting
						p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
						a(href="#").card__read-more Read More
					footer.card__footer.d-flex
						.card__blogger
							a(href="#")
								img(src="img/admin.jpg" alt="Admin").card__blogger-img
						timer.article__date BY JOHN BRAIN Jan 5, 2020

		article.card.article.d-flex-md
				header.card__header
					figure
						img(src="img/grid4.jpg", alt="Sittin People Beside Table Inside Room").card__img
						figcaption.card__figcation
							.content
								h4.card__figcation-title Sittin People Beside Table Inside 
									span.card__figcation-title-resalt Room
								timer.card__date Jan.20.2020
				.content
					.card__body
						h1.card__title
							a(href="#").card__link There are many variations that focuses on presenting
						p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
						a(href="#").card__read-more Read More
					footer.card__footer.d-flex
						.card__blogger
							a(href="#")
								img(src="img/admin.jpg" alt="Admin").card__blogger-img
						timer.article__date BY JOHN BRAIN Jan 5, 2020

		article.card.article.d-flex-md
				header.card__header
					figure
						img(src="img/grid4.jpg", alt="Sittin People Beside Table Inside Room").card__img
						figcaption.card__figcation
							.content
								h4.card__figcation-title Sittin People Beside Table Inside 
									span.card__figcation-title-resalt Room
								timer.card__date Jan.20.2020
				.content
					.card__body
						h1.card__title
							a(href="#").card__link There are many variations that focuses on presenting
						p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
						a(href="#").card__read-more Read More
					footer.card__footer.d-flex
						.card__blogger
							a(href="#")
								img(src="img/admin.jpg" alt="Admin").card__blogger-img
						timer.article__date BY JOHN BRAIN Jan 5, 2020