-const autors = ['Jhon Smit', 'Jackson', 'Lucas Smit', 'Jhon Doe'];
-const categories = ['home', 'lifestyle', 'contact', 'autor'];
-const socials = ['facebook', 'twitter', 'google'];
-const menuMain = ['home', 'lifestyle', 'culture', "pages", "contact"];
-const homeVersions = ['home', 'homev1', 'homev2', "homev3", "autor"];
-const pages = ['food', 'autors', 'blog post', "blog details", "contact"];