extends ../templates/template

block header
	include ../includes/header

block slider
	include ../includes/home_v1/slider
block recentNew
	include ../includes/recent-news

block container-main-aside
	.container
		.container-main-aside
			block main
				include ../includes/home_v1/main/main
			block aside
				include ../includes/home_v1/aside/aside

block subscribe
	include ../includes/subscribe

block footer
	include ../includes/footer