extends ../templates/template
block header
	include ../includes/header
block subscribe
	include ../includes/subscribe
block footer
	include ../includes/footer
block container-main-aside
	block main
		.container
			include ../includes/lifestyle/main