section.new-section
	h1.section-title BE 
		span.section-title-resalt HEALTH

	.be-health

			//- Bucle Here

			+cardArticle('grid18.jpg',null,null,null,null,'There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img

			+cardArticle('grid19.jpg',null,null,null,null,'There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img