section.new-section
	h1.section-title TECH AND 
		span.section-title-resalt GADGETS
	+cardArticleRow(null,'grid9.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')
		+set('contentBody')
			p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
			a(href="#").card__read-more Read More
		+set('blogger')
			.card__blogger
				a(href="#")
					img(src="img/admin.jpg" alt="Admin").card__blogger-img

	+cardArticleRow(null,'grid10.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')
		+set('contentBody')
			p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
			a(href="#").card__read-more Read More
		+set('blogger')
			.card__blogger
				a(href="#")
					img(src="img/admin.jpg" alt="Admin").card__blogger-img
	
	+cardArticleRow(null,'grid5.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')
		+set('contentBody')
			p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
			a(href="#").card__read-more Read More
		+set('blogger')
			.card__blogger
				a(href="#")
					img(src="img/admin.jpg" alt="Admin").card__blogger-img