:root {
	--primary: #621055;
	--secondary: #ffa372;
	--white: #fff;
	--black: #000;
	
}

$primary: var(--primary);
$secondary: var(--secondary);
$white: var(--white);
$black: var(--black);
* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
	color: #232222;
}
h1, h2, h3, h4, h5, h6, a {
	font-family: 'Playfair Display', serif; 
}

p {
	color: #777;
}

img {
	width: 100%;
	display: block;
}
.f-w-100 {
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@include tablet {
		max-width: 720px;
	}
	@include laptop {
		max-width: 960px;
	}
}
.container-main-aside {
	@include laptop {
		display: flex; 
		justify-content: space-between;
	}

	.main {
		@include laptop {
			flex: 0 0 calc(66.666% - 15px);
			max-width: calc(66.666% - 15px);
		}
	}

	.aside {
		@include laptop {
			flex: 0 0 calc(33.333% - 15px);
			max-width: calc(33.333% - 15px);
		}
	}
}
.d-flex {
	display: flex;
}

.f-wrap {
	flex-wrap: wrap;
}
.d-none {
	display: none;
}
.m-t-24, m-y-24 {
	margin-top: 24px;
}
.p-y-48 {
	padding: 48px 0;
}
.list {
	list-style: none;
}
.color-secondary {
	color: $secondary;
}
.absolute {
	top: 0;
	right: 0;
	position: absolute;
}

.ocult {
	display: none !important;
}

$width: 0;
@for $i from 1 through 12 {
	.col-#{$i} {
			$width: $width + 8.33333%;
			flex: 0 0 $width;
			max-width:  $width;
		}
}


@include tablet {
	
	.container-md-flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	$width: 0;
	// asajsxjhb
	@for $i from 1 through 12 {
		$width: $width + 8.33333%;
		.col-md-#{$i} {
				flex: 0 0 $width;
				max-width:  $width;
				padding: 0 15px;
			}
	}
}
