section.new-section
	h1.section-title Great 
			span.section-title-resalt Lifestyle
	.container-md-flex
		.col-md-4
			+cardArticle('grid4.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.col-md-4
			+cardArticle('grid5.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.col-md-4
			+cardArticle('grid4.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.col-md-4
			+cardArticle('grid5.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.col-md-4
			+cardArticle('grid5.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img
		.col-md-4
			+cardArticle('grid4.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
				+set('blogger')
					.card__blogger
						a(href="#")
							img(src="img/admin.jpg" alt="Admin").card__blogger-img