section.new-section
	h1.section-title Recent 
			span.section-title-resalt News
	.container-md-flex
		.col-md-6
			+cardArticle('grid19.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					a(href="#").card__read-more Read More
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
		.col-md-6
			+cardArticle('grid14.jpg', 'Sittin People Beside Table Inside','Room','2020-06-16','Jan 20 2020','There are many variations that focuses on presenting','José Urbina', '2020-06-15', 'Jan 5, 2020')
				+set('contentBody')
					a(href="#").card__read-more Read More
					p.card__text Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.
		