section.new-section
	h1.section-title STAY 
		span.section-title-resalt CONECTED
	.d-flex.f-wrap
		.container-social-grid
			a(href="#").social-grid
				.social-grid__icon
					i.icon-facebook
				.social-grid__info
					p.social-grid__info-number 14,507
					p.social-grid__info-text FOLLOWERS


		.container-social-grid
			a(href="#").social-grid
				.social-grid__icon
					i.icon-twitter
				.social-grid__info
					p.social-grid__info-number 14,507
					p.social-grid__info-text FOLLOWERS


		.container-social-grid
			a(href="#").social-grid
				.social-grid__icon
					i.icon-google
				.social-grid__info
					p.social-grid__info-number 14,507
					p.social-grid__info-text FOLLOWERS


		.container-social-grid
			a(href="#").social-grid
				.social-grid__icon
					i.icon-twitter
				.social-grid__info
					p.social-grid__info-number 14,507
					p.social-grid__info-text FOLLOWERS