section.new-section
	h1.section-title Top 
			span.section-title-resalt Categories
	.container-md-flex
		.col-md-3
			+card('grid11.jpg',null,'FOOD',null,null)
		.col-md-3
			+card('grid12.jpg',null,'FASHON',null,null)
		.col-md-3
			+card('grid13.jpg',null,'CELEBRITIES',null,null)
		.col-md-3
			+card('grid13.jpg',null,'CULTURE',null,null)