section.news.p-y-48
	.container
		h1.section-title Recent 
			span.section-title-resalt News
		.d-flex.justify-c-b.f-wrap
			.card.col-md-12.col-lg-6
				.card__header
					figure
						img(src="img/grid20.jpg", alt="In Black Jacket And Brown Hat Standing On Rock ").card__img
						figcaption.card__figcation
							.content
								h4.card__title--ocult Man In Black Jacket And Brown Hat Standing On Rock 
									span.card__figcation-title-resalt Near Lake
								timer.card__date--ocult Jan.20.2020
			article.card.article.col-md-6.col-lg-3
				header.card__header
					figure
						img(src="img/grid7.jpg", alt="Woman Near Pigeons").card__img
						figcaption.card__figcation
							.content
								h4.card__figcation-title Woman Near 
									span.card__figcation-title-resalt Pigeons
								timer.card__date Jan.20.2020
				.card__body
					h1.card__title
						a(href="#").card__link There are many variations that focuses on presenting
					a(href="#").card__read-more Read More
				footer.card__footer
					timer.article__date BY JOHN BRAIN Jan 5, 2020

			article.card.article.col-md-6.col-lg-3
				header.card__header
					figure
						img(src="img/grid8.jpg", alt="Man Standing On Railroad Near Plants").card__img
						figcaption.card__figcation
							.content
								h4.card__figcation-title Man Standing On Railroad Near 
									span.card__figcation-title-resalt Plants
								timer.card__date Jan.20.2020
				.card__body
					h1.card__title
						a(href="#").card__link There are many variations that focuses on presenting
					a(href="#").card__read-more Read More
				footer.card__footer
					timer.article__date BY JOHN BRAIN Jan 5, 2020