section.new-section
	.container
		h1.section-title Recent 
			span.section-title-resalt News
		.recent-news
				+card('grid20.jpg', 'Man In Black Jacket And Brown Hat Standing On Rock ','Near Lake','2020-06-20','Jan 20 2020')
				

				+cardArticle('grid7.jpg', 'Woman Near','Pigeons','2020-06-05','Jan 20 2020','There are many variations that focuses on presenting','JOHN BRAIN', '2020-06-16', 'Jan 16, 2020')
					+set('contentBody')
						a(href="#").card__read-more Read More
				 
				+cardArticle('grid8.jpg', 'Man Standing On Railroad Near','Plants','2020-06-05','Jan 20 2020','There are many variations that focuses on presenting','JOHN BRAIN', '2020-06-16', 'Jan 16, 2020')
					+set('contentBody')
						a(href="#").card__read-more Read More
				