.container
	section.subscribe.new-section
		.content
			p.subscribe__text WE LIKE TO SHARE LATEST NEWS OF WEBZINE
			h1.subscribe__title SUBSCRIBE NOW !
			form.subscribe__form
				input(type="text", placeholder="Enter your email adress", class="subscribe__input-text")
				input(type="button", value="Subscribe", class="subscribe__input-button")