
.container#slider
	.slider-main.d-flex
		i.icon-angle-left.slider-buttons.s-left
		i.icon-angle-right.slider-buttons.s-right
		article.slider
			header.slider__header
				img(src="img/banner1.jpg", alt="7 Ways Amazon Whole Foods Is Catering to Every Millennial’s Whims").slider__img.fade
			.slider__p-absolute
				.content
					.slider__body
						h1.slider__title Item 1
						p.slider__text Lorem ipsum dolor sit amet,Vestibulum orci justo, vehicula vel sapien sit amet.
					footer.slider__footer
						timer.slider__date 25.Dec.2019
		article.slider
			header.slider__header
				img(src="img/banner2.jpg", alt="7 Ways Amazon Whole Foods Is Catering to Every Millennial’s Whims").slider__img.fade
			.slider__p-absolute
				.content
					.slider__body
						h1.slider__title Item 2
						p.slider__text Lorem ipsum dolor sit amet,Vestibulum orci justo, vehicula vel sapien sit amet.
					footer.slider__footer
						timer.slider__date 25.Dec.2019
		article.slider
			header.slider__header
				img(src="img/banner1.jpg", alt="7 Ways Amazon Whole Foods Is Catering to Every Millennial’s Whims").slider__img.fade
			.slider__p-absolute
				.content
					.slider__body
						h1.slider__title A New Report Shows That Fashion Ads Are Still Overwhelmingly White Dresses
						p.slider__text Lorem ipsum dolor sit amet,Vestibulum orci justo, vehicula vel sapien sit amet.
					footer.slider__footer
						timer.slider__date 25.Dec.2019


