footer.footer.new-section
	.container.conatiner-footer-section
		include ../includes/footer/about-website
		include ../includes/footer/editor-topics
		include ../includes/footer/information
		include ../includes/footer/copy