.grid-categories {
	display: flex;
	padding: 15px;
	align-items: center;
	border: 1px solid rgba(59, 62, 66, 0.3);
	margin: 1rem 0;
	transition: all .5s;

	&__figure {
		flex: 0 0 calc(25%);
		max-width: calc(25%);
		margin-right: 15px;
	}


	&__img {
		border-radius: 4px;
	}
	&:hover {
		cursor: pointer;
	}

	&:hover .grid-categories__link {
		color: #b52b65;
	}

	&__num {
		font-size: 38px;
		color: #ffa372;
		text-align: center;
	}
}

.post {
	.grid-categories {
		border: none;
	}
}
.published {
	max-width: 270px;
	max-height: 456px;
	margin-top: 2rem;
}