.card-row {

	@include tablet {
		display: flex;
	}
	&__title--mini {
		font-size: 16px;
		margin-top: 0;
	}
	@include tablet {
		.content {
			padding-left: 10px;
		}
	}
	
		
	
	&__img--mini {
		border-radius: 10px;
	}
}
.card-row-mini {
		display: flex;
		.content {
			padding-left: 10px;
		}
}

.d-flex-md {
	@include tablet {
		.content {
			padding-left: 15px;
		}
		.card__title {
			margin-top: 0;

		} 
		.card__header {
			flex: 0 0 50%;
			height: 100%;
		}
	}
}