.main {
	
}

.recent-news {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	 .card {
		flex: 0 0 100%;
		max-width: 100%;
		@include laptop {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
	}
	 .article {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
		@include laptop {
			flex: 0 0 calc(25% - 15px);
			max-width: calc(25% - 15px);
		}
	}
}



.latest-articles {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.article {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
		@include laptop {
			flex: 0 0 calc(33.333% - 15px);
			max-width: calc(33.333% - 15px);
		}
	}
}


.great-lifestyle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__conatiner-card-row {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
	}
	.article {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
	}
	
}

.from-beauty {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.article {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
		@include laptop {
			flex: 0 0 calc(33.333% - 15px);
			max-width: calc(33.333% - 15px);
		}
	}
}

.categories {
	display: flex;
	justify-content: space-between;
	.card {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
		@include laptop {
			flex: 0 0 calc(33.333% - 15px);
			max-width: calc(33.333% - 15px);
		}
	}
}

.tasty-food,
.be-health {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.article {
		flex: 0 0 100%;
		max-width: 100%;
		@include tablet {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
		}
	}
}