.container-slider {

	@include mini_mobile {
		padding: 0 15px;
	}
	
	@include laptop {
		max-width: 960px;
		margin: auto;
		
	}
}
.slider-main {
	position: relative;
	overflow: hidden;
}
.fade {
	animation-name: fade;
	animation-duration: 3s;
}

@keyframes fade {
	from {
		transform: scale(1);
		opacity: .2;
	}

	to {
		transform: scale(1.2);
		opacity: 1;
	}
}
.slider-buttons {
	position: absolute;
	background-color: #ffa372;
	z-index: 10;
	top: calc(50% - 10px);
	color: $white;
	cursor: pointer;
	@include mini_mobile {
		width: 20px;
		height: 20px;
	}
	@include mobile {
		width: 35px;
		height: 35px;
		font-size: 25px;
		text-align: center;
		font-size: 18px;
		&:before {
			vertical-align: middle;
		}
	}
	

	@include laptop {
		width: 50px;
		height: 50px;
		font-size: 35px;
		
	}

	&:hover ~ .slider .slider__p-absolute {
		background-color: transparent;
	}
}
.s-left {
	left: 0;
}
.s-right {
	right: 0;
}
.slider {
	position: relative;
	color: $white;
	display: flex;
	flex: 1 0 100%;
	&__img {
		height: 70vw;
		border-radius: 10px;
		@include mini_mobile {
			height: 60vw;
		}
		@include mobile {
			height: 40vw;
			max-height: 480px;

		}
	}
	&__p-absolute {
		border-radius: 10px;
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		display: flex;
		align-items: flex-end;
		padding: 20px;
		background-color: rgba(16, 16, 16, .47);
		line-height: 1.5;
		@include mobile {
			padding: 35px 50px;
		}

		&:hover {
			background-color: transparent;
		}
		
	}
	&__title {
		font-size: 13px;
		@include mini_mobile {
			font-size: 16px;
		}
		@include mobile {
			font-size: 22px;
		}
		@include tablet {
			font-size: 30px;
		}

	}

	&__text {
		font-size: 8px;
		color: $white;
		@include mini_mobile {
			font-size: 10px;
		}
		@include mobile {
			font-size: 14px;
		}
	}

	&__date {
		font-size: 7px;
		@include mini_mobile {
			font-size: 9px;
		}
		@include mobile {
			font-size: 13px;
		}

	}
}
