.container-social-grid {
	flex: 0 0 100%;
	@include mini_mobile {
		max-width: calc(50% - 15px);
		padding: 0 15px;
	}
}
.social-grid {
	display: flex;
	align-items: center;
	height: 48px;
	border: 1px solid rgba(59, 62, 66, 0.3);
	border-radius: 5px;
	margin: 15px 0;
	&__icon {
		width: 33.333%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
		border-right: 1px solid rgba(59, 62, 66, 0.3);
		color: #621055;
	}
	&__info {
		font-size: 12px;
		padding-left: 7px;
	}
	&:hover &__icon {

	}
}