.new-section {
	margin: 3rem 0;
}

.subscribe {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 24px;
	background: rgba(35, 50, 102, 0.05) url(../img/strip.png) no-repeat;
	@include tablet {
		padding: 96px;
		height: 434px;
	}
	&__text {
		font-size: 14px;
		color: $black;
	}
	&__title {
		font-size: 22px;
		color: #ed6663;
		font-weight: 700;
	}
	&__form {
		@include tablet {
			margin-top: 48px;
		}
	}
	&__input-text {
		width: 100%;
		padding: 1rem .5rem;
		outline: none;
		border: 2px solid #ffa372;
		border-radius: 5px;
	}
	&__input-button {
		margin-top: 15px;
		color: $white;
		padding: 1rem;
		cursor: pointer;
		background-color: #ffa372;
		border: none;
		font-weight: 600;
	}
}