section.new-section.footer-section
	h1.footer-section__title ABOUT WEBZINE
	p.footer-section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
	.footer-section__social
		ul.list.footer-section__social-list
			li
				a(href="#").footer-section__icon-link
					i.icon-facebook
			li
				a(href="#").footer-section__icon-link
					i.icon-twitter
			li
				a(href="#").footer-section__icon-link
					i.icon-google