section.new-section.footer-section
	h1.footer-section__title INFORMATION
	.footer-section__information-page
		ul.list 
			li
				a(href="#").footer-section__link Celebrities
			li
				a(href="#").footer-section__link Fashion
			li
				a(href="#").footer-section__link Lifestyle
			li
				a(href="#").footer-section__link Blog Page
		ul.list 
			li
				a(href="#").footer-section__link Login
			li
				a(href="#").footer-section__link Signup
			li
				a(href="#").footer-section__link Author
			li
				a(href="#").footer-section__link Comments







