.footer {
	background-color: #020004;
}
.conatiner-footer-section {
	padding: 48px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-section {
	@include tablet {
		flex: 0 0 calc(50% - 15px);
		max-width: calc(50% - 15px);
	}
	@include laptop {
		flex: 0 0 calc(33.333% - 15px);
		max-width: calc(33.333% - 15px);
	}


	&__title {
		font-size: 18px;
		color: #fff;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.5;
		color: #aab;
	}

	&__social-list {
		display: flex;
		margin-top: 24px;
	}

	&__icon-link {
		font-size: 22px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		&:first {

		}

	}
	.card-row__img--mini {
		max-width: 100px;
		max-height: 100px;
	}
	.card__link,
	.article__date {
		color: #aab;
	}

	&__information-page {
		display: flex;
	}

	&__link {
		color: #aab;
		line-height: 1.5;
		display: inline-block;
		margin-bottom: 20px;
	}

	ul:first-child {
		margin-right: 20px;
	}
}

.copy {
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	a {
		color: #b52b65;
		font-weight: 700;
	}
	.movetop {
		position: fixed;
		bottom: 50px;
		right: 10px;
		height: 50px;
		width: 50px;
		background-color: $primary;
		display: none;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		
	}
}