section.new-section
	h1.section-title MUST 
		span.section-title-resalt READ

	+cardArticleRow('mini','m2.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')
		+set('contentBody')
			null
		+set('blogger')
			null
	+cardArticleRow('mini','m3.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')

	+cardArticleRow('mini','m4.jpg','There Are Many Variations That Focuses On Presenting','José Urbina', '2020-06-16','Jan 5 2020')